@import base.sass
@import blueprint/modules/fancy_type.sass

body
  +fancy-type
  +blueprint-typography
  +fancy-paragraphs
  padding: 0px 50px
  font:
    family: Helvetica, Verdana

header
  +border-radius(0px, 0px, 20px, 20px)
  display: block
  padding:
    top: 3px
    left: 20px
    bottom: 0px
  background:
    color: rgba(0, 0, 0, 0.9)
    image: url(/__big_band__/overlay-button.png)
    repeat: repeat-x
  nav a, nav a:visited
    font-size: 80%
    padding-left: 5px
    text-decoration: none
    color: #ddd
    &:hover
      color: #fff
  h1
    display: inline-block
    font:
      size: 100%
      weight: bolder
    padding-right: 5px
    border-right: 3px solid #333
    text-shadow: 0px 1px 12px #800, -1px -1px 3px #ff0, 0px 0px 8px #888

footer
  +alt