[submodule "vendor/sinatra"]
	path = vendor/sinatra
	url = git://github.com/sinatra/sinatra.git
[submodule "vendor/fakefs"]
	path = vendor/fakefs
	url = git://github.com/defunkt/fakefs.git
[submodule "vendor/net-ldap"]
	path = vendor/net-ldap
	url = git://github.com/innovationfactory/ruby-net-ldap.git
[submodule "vendor/haml"]
	path = vendor/haml
	url = git://github.com/nex3/haml.git
