[submodule "vendor/ohm"]
	path = vendor/ohm
	url = git://github.com/rkh/ohm.git
[submodule "vendor/big_band"]
	path = vendor/big_band
	url = git://github.com/rkh/big_band.git
[submodule "vendor/monkey-lib"]
	path = vendor/monkey-lib
	url = git://github.com/rkh/monkey-lib.git
[submodule "vendor/net-ldap"]
	path = vendor/net-ldap
	url = git://github.com/innovationfactory/ruby-net-ldap.git
