%h1= user.name
.keys
  %h3 Your registered keys
  %form{:method => "post"}
    = user.keys.each do |key|
      %input{:type=>"textarea", :readonly=>"true", :value=>"#{key}"} 
  %form{:method => "post"}
    %input{:type=>"textarea", :name=>"post[key]"}
    %input{:type => "submit", :value => "Add Key"}

