%h1 Repository index
.login
  %form{:method => "post", :action => "login"}
    Username:
    %input{:name => "name", :type => "text"}
    Password:
    %input{:name => "password", :type => "text"}
    %input{:value => "Submit", :type => "submit"}
- user.each do |u|
  #user
    %h2= u.name
    - u.repositories.each do |r|
      %a{:href => "/#{u.name}/#{r.name}"}
        = r.name
