!!!
%html
  %head
    %title Monk Gerippe
    %meta{:charset=>"utf-8"}/
    %link{:href=>"/stylesheets/screen.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}/
  %body
    .container
      .header
        Monk Gerippe
      .body
        !=yield
      .footer
        %p project &copy; 2009