!!!
%html
  %head
    %title Monk Gerippe
    %meta{:charset=>"utf-8"}/
    %link{:href=>"/stylesheets/screen.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}/
  %body
    .container
      %header
        Monk Gerippe
      %section.body
        !=yield
      %footer
        bithug &copy; 2009