%form{:method => "post"}
  %label{:for => :repo_name} Name for Repository:
  %input#name{:type => :text, :name => :repo_name}
  %select{:name => :vcs}
    %option{:value => "git"} Git
    %option{:value => "svn"} GitSvn (importing/tracking only)
  %label{:for => :remote} Remote URL for Repository:
  %input{:type => :text, :name=> :remote}
  %input{:type => :submit, :value => "create"}
