%form{:method => "post"}
  %label{:for => :repo_name} Name for Repository:
  %input#name{:type => :text, :name => :repo_name}
  %input{:type => :select, :name => :vcs, value => ["git", "svn"]}
  %label{:for => :remote} Remote URL for Repository:
  %input{:type => :text, :name=> :remote}
  %input{:type => :submit, :value => "create"}
