!= haml :user_info, :layout => false
#repositories

  #owned_repositories
    - user.repositories.each do |r|
      %a{:href => "/#{r.name}"}= r.name

  #writeable_repositories
    - user.writeable_repositories.each do |r|
      %a{:href => "/#{r.name}"}= r.name

  #readable_repositories
    - user.readable_repositories.each do |r|
      %a{:href => "/#{r.name}"}= r.name
